@import 'tailwindcss';

.horizontal-scroll {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  padding-bottom: 6px; /* space for scrollbar */
}

.horizontal-scroll::-webkit-scrollbar {
  height: 8px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.12);
  border-radius: 999px;
}
.horizontal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.horizontal-scroll > * {
  scroll-snap-align: center;
}

.vertical-scroll{
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    padding-right: 6px
}

.vertical-scroll::-webkit-scrollbar {
  width: 8px;
}

.vertical-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.12);
  border-radius: 999px;
}

.vertical-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.vertical-scroll > * {
  scroll-snap-align: center;
}